<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <servlet>
        <servlet-name>Login-Controller</servlet-name>
        <servlet-class>org.koreait.member.controllers.LoginController</servlet-class>

        <init-param>
            <param-name>key1</param-name>
            <param-value>value1</param-value>
        </init-param>

        <init-param>
            <param-name>key2</param-name>
            <param-value>value2</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login-Controller</servlet-name>
        <url-pattern>/member/login</url-pattern>
    </servlet-mapping>
</web-app>