<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">

    <main layout:fragment="content">
        <form method="POST" th:action="@{/member/join}" autocomplete="off" th:object="${requestJoin}">
            <dl>
                <dt th:text="#{이메일}"></dt>
                <dd>
                    <input type="text" name="email" th:field="*{email}">
                </dd>
            </dl>
            <dl>
                <dt th:text="#{비밀번호}"></dt>
                <dd>
                    <input type="password" name="password" th:field="*{password}">
                </dd>
            </dl>
            <dl>
                <dt th:text="#{비밀번호_확인}"></dt>
                <dd>
                    <input type="password" name="confirmPassword" th:field="*{confirmPassword}">
                </dd>
            </dl>
            <dl>
                <dt th:text="#{회원명}"></dt>
                <dd>
                    <input type="text" name="name" th:field="*{name}">
                </dd>
            </dl>
            <dl>
                <dt th:text="#{휴대전화번호}"></dt>
                <dd>
                    <input type="text" name="mobile" th:field="*{mobile}">
                </dd>
            </dl>
            <div>
                <input type="checkbox" name="agree" value="true" id="agree" th:field="*{agree}">
                <label for="agree" th:text="#{회원가입_약관에_동의합니다}"></label>
            </div>
            <button type="submit" th:text="#{가입하기}"></button>
        </form>
    </main>

</html>