<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">

    <main layout:fragment="content">
        <form method="POST" th:action="@{/member/join}" autocomplete="off">
            <dl>
                <dt th:text="#{이메일}"></dt>
                <dd>
                    <input type="text" name="email">
                </dd>
            </dl>
            <dl>
                <dt th:text="#{비밀번호}"></dt>
                <dd>
                    <input type="password" name="password">
                </dd>
            </dl>
            <dl>
                <dt th:text="#{비밀번호_확인}"></dt>
                <dd>
                    <input type="password" name="confirmPassword">
                </dd>
            </dl>
            <dl>
                <dt th:text="#{회원명}"></dt>
                <dd>
                    <input type="text" name="name">
                </dd>
            </dl>
            <dl>
                <dt th:text="#{휴대전화번호}"></dt>
                <dd>
                    <input type="text" name="mobile">
                </dd>
            </dl>
            <div>
                <input type="checkbox" name="agree" value="true">
                <th:block th:text="#{회원가입_약관에_동의합니다}"></th:block>
            </div>
            <button type="submit" th:text="#{가입하기}"></button>
        </form>
    </main>

</html>