<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form method="POST" action="join">
            <dl>
                <dt>이메일</dt>
                <dd></dd>
            </dl>
            <dl>
                <dt>비밀번호</dt>
                <dd></dd>
            </dl>
            <dl>
                <dt>비밀번호 확인</dt>
                <dd></dd>
            </dl>
            <dl>
                <dt>회원명</dt>
                <dd></dd>
            </dl>
        </form>
    </body>
</html>