<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <table border="1">
            <thead>
                <tr>
                    <th>순번</th>
                    <th>이메일</th>
                    <th>회원명</th>
                    <th>가일일시</th>
                    <th>수정일시</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="member, status : ${members}" th:object="${member}">
                    <td>
                        <th:block th:text="${status.count}"></th:block>
                        [첫번째:<th:block th:text="${status.first}"></th:block>]
                        [마지막: [[${status.last}]]]
                        <th:block th:switch="${status.odd}">
                            <span th:case="true">[홀수]</span>
                            <span th:case="false">[짝수]</span>
                        </th:block>
                        <!--
                        <span th:if="${status.odd}">[홀수]</span>
                        <span th:unless="${status.odd}">[짝수]</span> -->
                        <!--<span th:if="${status.even}">[짝수]</span>-->
                        <!--
                        [홀수: <span th:text="${status.odd}"></span>]
                        [짝수: <span th:text="${status.even}"></span>] -->
                    </td>
                    <td th:text="*{#strings.toUpperCase(email)}"></td>
                    <!--<td th:utext="*{name + '(' + email + ')'}"></td>-->
                    <td th:utext="*{#strings.concat(name, '(', email, ')')}"></td>
                    <td th:text="*{#temporals.format(regDt, 'yyyy.MM.dd')}"></td>
                    <td th:text="*{#temporals.format(modDt, 'yyyy.MM.dd')}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>